.\.container {
  width: 100%;
  /* max-width: 1200px; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.auth-image {
  width: 40%;
  height: 100vh;
  background-image: url("../../assets/images/auth-login-walking.svg");
  background-repeat: no-repeat;
  margin-top: 10%;
  box-shadow: 8px 0 0px 2px white inset;
}

.auth-form-container {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 90%;
}

form.auth-form {
  height: auto;
  margin-top: -20%;
}
.signup-text-div{
  display: flex;
  justify-content: center;
}
.auth-form h1 {
    text-align: center;
    font-size: 2.0rem;
    width: 100px;
    /* text-align: center; */
    border-bottom: 4px solid rgb(62, 195, 181);
}
.auth-form-button-containers {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center !important;
  align-items: center;
  margin-top: 3%;
}

.span-container{
  font-size: 1rem;
  flex-direction: row;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
#dont-have-account-btn{
  font-size: 1rem;
 border: none;
 background: transparent;
 color: rgb(62, 195, 181);
}
#dont-have-account-btn:hover{
  border: solid 1px lightgray;
  color: black;
  background: lightgray;
}
.auth-buttons, .auth-buttons-google {
  /* margin: 5px; */
  width: 50%;
  font-size: 1.3rem;
  margin: 5px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid rgb(62, 195, 181); 
  background-color: rgb(62, 195, 181, .4);
  color: black;
  font-weight: 900;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.googleLogin{
  border-radius: 20px;
}
.auth-buttons:hover{
    box-shadow: none;
    transition: .2s ease-in;
}


@media screen and (max-width: 900px) {
  .\.container {
    flex-direction: column-reverse;
    width: 100%;
}
.auth-image {
    width: 100%;
    pointer-events: none;
    
    width: 100%;

}
.auth-form-container {
  /* margin-top: 7%; */
  width: 100%;
}
form.auth-form {
  height: auto;
  margin-top: -20%;
  padding-bottom: 10px;

}
button.auth-buttons {
  width: 100%;
}
input {
  width: 95%;
}
}