.\.container {
  width: 100%;
  /* max-width: 1200px; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
 margin-top: -5%;
}

.auth-image {
  width: 30%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.auth-image img {
  width: 100% !important;
  height: 400px;

}


.auth-form-container {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets//images//background.svg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: contain;
  
}

input {
  width: 90%;
}

form.auth-form {
  height: auto;
  background-color: white;
  border-radius: 15px;
}
.signup-text-div{
  display: flex;
  justify-content: center;
}
.auth-form h1 {
    text-align: center;
    font-size: 2.0rem;
    width: 110px;
    /* text-align: center; */
    border-bottom: 4px solid rgb(62, 195, 181);
}
.auth-form-button-containers {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center !important;
  align-items: center;
  margin-top: 3%;
}

.span-container{
  font-size: 1rem;
  flex-direction: row;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
#dont-have-account-btn{
  font-size: 1rem;
 border: none;
 background: transparent;
 color: rgb(62, 195, 181);
}
#dont-have-account-btn:hover{
  border: solid 1px lightgray;
  color: black;
  background: lightgray;
}
.auth-buttons, .auth-buttons-google {
  /* margin: 5px; */
  width: 40%;
  font-size: 1.3rem;
  margin: 5px;
  height: 40px;
  border-radius: 20px;

  background-color: rgb(62, 195, 181, .4);
  color: black;
  font-weight: 900;
    box-shadow: 0px 2px 3px 1px #0000008c;
    transition: 300ms;
}
.auth-buttons:hover{
    box-shadow: none;
    transition: .2s ease-in;
}


@media screen and (max-width: 900px) {
  .\.container {
    flex-direction: column-reverse;
    width: 100%;
}
.auth-image {
    width: 100%;
    pointer-events: none;
    align-items:start;
    width: 100%;

}
.auth-form-container {
  /* margin-top: 7%; */
  width: 100%;
}
form.auth-form {
  height: auto;
  margin-top: -20%;
  padding-bottom: 10px;

}
span.span-container {
  flex-direction: column;
}
button.auth-buttons {
  width: 100%;
}
input {
  width: 95%;
}
}