*{
    font-family: 'Titillium Web', sans-serif;
}
.date{
    color: rgb(202, 172, 156);
}
header img{ 
    z-index: 999;
 height: 80px;
 width: 80px;
 border-radius: 50%;
}
header h1{
    margin-left: 1%;
}




@media screen and (max-width: 760px){
    .div-for-posts-and-form {
        flex-direction: column-reverse;
        width: 100%;
    }
    .Posts-container {
        width: 100%;
    }
    .Form-container {
        width: 100%;
    }
}
  