* {
  font-family: "PT Sans", sans-serif;
  margin: 0%;
}

.date {
  color: rgb(202, 172, 156);
}
header img {
  z-index: 999;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
header h1 {
  margin-left: 1%;
}

