.father {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  background-image: url(../../assets//images//background.svg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: contain;
}
.div-for-posts-and-form {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Posts-container {
  flex-direction: column;
  display: flex;
  width: 65%;
  height: 100vh;
  margin-bottom: 10px;
}
.Form-container {
  width: 35%;
  flex-direction: column;
  display: flex;
  height: 100vh;
}

/* top search */
nav.search-nav {
  justify-content: center;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 15px;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}   

nav.search-nav > h1{
  font-size: 2.00rem;
}
nav.search-nav div {
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.search-input {
  background: white;
  width: 500px;
  border-radius: 20px;
  transition: 300ms;
}
input.search-input:focus {
  background: white;
  border: none;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}
nav.search-nav div button {
  min-height: 10%;
  background-color: transparent;
  position: absolute;
  border-radius: 50%;
  right: 0;
  top: 12px;
  border: none;
}

.MuiPagination-ul {
  display: flex;
  width: 100%;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  align-items: center;
}
.pag-div {
  margin-left: 3%;
  margin-top: 5%;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .Posts-container {
    width: 100%;
  }
  .div-for-posts-and-form {
    flex-direction: column-reverse;
  }
  .Form-container {
    width: 100%;
    justify-content: center;
    height: 700px;
    margin-bottom: 5%;
  }
}

.filter-options{
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 900px) {

  .search-input-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
  }
  .search-input {
    width: 100%;
  }
  .chipInput-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  nav.search-nav div button {
    min-height: 10%;
    position: absolute;
    right: 2%;
    background-color: white;
    top: 12px;
    border: none;
  }
  .Form-container {
    height: 700px;
    width: 100%;
    justify-content: center;
    margin-bottom: 10%;
  }

  .div-for-posts-and-form {
    flex-direction: column-reverse;
    width: 100%;
  }
  .Posts-container {
    width: 100%;
  }
  .Form-container {
    width: 100%;
  }
  nav.search-nav div {
    width: 100%;
  }

}

@media screen and (max-width: 760px) {
  .Form-container {
    height: 700px;
    width: 100%;
    justify-content: center;
  }

  .div-for-posts-and-form {
    flex-direction: column-reverse;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .Posts-container {
    width: 100%;
  }
  .Form-container {
    width: 100%;
  }
  nav.search-nav div {
    width: 100%;
  }
  .MuiFormControl-root.chipInput.WAMuiChipInput-root-1 {
    width: 80%;
  }
}
