.father {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  background-image: url(../../assets//images//background.svg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: contain;
  height: 1500px;
}
.div-for-posts-and-form {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Posts-container {
  flex-direction: column;
  display: flex;
  width: 65%;
  height: 100vh;
  margin-bottom: 10px;
}
.Form-container {
  width: 35%;
  flex-direction: column;
  display: flex;
  height: 100vh;
}

/* top search */
nav.search-nav {
  justify-content: center;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2%;
}
nav.search-nav div {
  width: 50%;
  justify-content: center;
  flex-direction: row;
  position: relative;
}
.search-input {
  width: 80%;
  border-radius: 20px;
  transition: 300ms;
}
input.search-input:focus {
  background: transparent;
    border: none;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}
nav.search-nav div button {
  min-height: 10%;
  position: absolute;
  right: 19% ;
  background-color: white;
  top: 12px;
  border: none;
}
.MuiFormControl-root.WAMuiChipInput-root-1 {
  border: none;
  width: 40%;
  color: black;
  /* margin: 7px 0 7px 0; */
  margin-right: 9%;
  
}
.chipInput:active {
  color: black;
}
.WAMuiChipInput-standard-6.WAMuiChipInput-chipContainer-4.WAMuiChipInput-underline-14.WAMuiChipInput-labeled-8 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.MuiButtonBase-root.MuiChip-root.WAMuiChipInput-chip-16.MuiChip-clickable.MuiChip-deletable {
  width: 15%;
}
input.MuiInputBase-input.MuiInput-input.WAMuiChipInput-input-3.WAMuiChipInput-standard-6.MuiInputBase-inputMarginDense.MuiInput-inputMarginDense {
  border: none !important;
}
.MuiPagination-ul {
  display: flex;
 
  width: 100%;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  align-items: center;
}
.pag-div{
  margin-left: 3%;
  margin-top: 5%;
  width: 100%;
}




@media screen and (max-width: 1000px) {

.Posts-container {
  width: 100%;
}
.div-for-posts-and-form {
  flex-direction: column-reverse;
}
.Form-container {
  width: 100%;

  justify-content: center;
  height: 700px;

}

}


@media screen and (max-width: 900px) {
  .Form-container{
    height: 700px;
    width: 100%;
    justify-content: center;
    margin-bottom: 10%;
  }
 
  .div-for-posts-and-form {
    flex-direction: column-reverse;
    width: 100%;
  }
  .Posts-container {
    width: 100%;
  }
  .Form-container {
    width: 100%;
  }
  nav.search-nav div {
    width: 100%;
  }
  .MuiFormControl-root.chipInput.WAMuiChipInput-root-1 {
    width: 80%;
  }

}


@media screen and (max-width: 760px) {
  .Form-container{
    height: 700px;
    width: 100%;
    justify-content: center;
  }
 
  .div-for-posts-and-form {
    flex-direction: column-reverse;
    width: 100%;
  }
  .Posts-container {
    width: 100%;
  }
  .Form-container {
    width: 100%;
  }
  nav.search-nav div {
    width: 100%;
  }
  .MuiFormControl-root.chipInput.WAMuiChipInput-root-1 {
    width: 80%;
  }
}
