.formContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
form{
    width: 100%;
    margin-left: 5%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}

input, select, textarea{
    outline: none;
    width: 90%;
    padding: 5px;
    margin: 5px;
    border: .5px solid lightgray;
    height: 30px;
    font-size: 1.1rem;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
}
input:focus, textarea:focus {
    border: 2px solid black;
}
select{
    height: fit-content;
    font-size: 1.1rem;
    width: 92% !important;
    color: rgb(121, 121, 121)
}
.buttonContainer{
    display: flex;
    flex-direction: row !important;
    justify-content: center;
}
.buttonContainer button{
    margin: 5px;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    min-width: fit-content;
}
.submit-button{
    border: solid 1px  darkgreen;
    color:  darkgreen;
    font-weight: 700;
    background: rgb(0, 174, 0, .3);
}
.clear-button{
    border: solid 1px  darkorange;
    color:  darkorange;
    font-weight: 700;
    background: rgb(249, 137, 0, .3); 
}
.please-sign-in-div{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    margin-left: 5%;
}
.sign-in-image-container{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 35px;
}
.sign-in-image{
    width: 40%;
    height: 40%;
}
.sign-in-link{
    text-decoration: none;
    color: rgb(62, 195, 181) ;
}
.sign-in-link:hover{
    border-bottom: 4px solid rgb(95, 95, 95);;
}
.input-file input[type="file" i]::-webkit-file-upload-button{
    background-color: white;
    border: 1px solid lightgray ;
    border-radius: 5px;
    color: rgb(122, 122, 122);
    padding: 5px;
}

.message-input{
    height: 100px
}

@media screen and (max-width: 1000px) {
    .formContainer, .please-sign-in-div{
        margin-top: 20%;
    }


    .please-sign-in-div {
        width: 90%;
    }

}
@media screen and (max-width: 900px) {
    .formContainer, .please-sign-in-div{
        margin-top: 15%;
    }
    form{
        width: 100%;
    }
    .please-sign-in-div{
        margin-top: 10%;
    }
    select{
        width: 98% !important;
    }
    textarea{
        width: 95%;
    }
}
