.chat {
  width: 100%;
  height: 100vh;
  display: flex;
}
.chat-container {
  height: 100%;
}
.search-userInput {
  width: 20%;
  transition: 400ms;
  border: lightgray 1px solid;
}
.search-userInput:focus {
  width: 100%;
  border: lightgray 1px solid;
}
.other-user {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 0.5px solid lightgray;
  border-radius: 15px;
  margin: 5px;
  transition: 0.3ms ease-in;
}
.other-user:hover {
  background-color: rgb(238, 238, 238);
}

.left-side {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
  border-right: 1px solid lightgrey;
}
.chatbox-container {
  height: 100%;
}
.chat-list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
}
.no-chats-yet-div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.no-chats-yet-div > img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: rgb(243, 243, 243);
}
.no-chats-yet-div > span { 
  font-weight: bold;
  color: rgb(88, 88, 88);
}
.chat-list::-webkit-scrollbar {
  display: none;
}
.search-user {
  display: flex;
  align-items: center;
}
.search-user > button {
  background: transparent;
  border: none;
}
.search-results-container {
  display: flex;
  flex-direction: column;
  z-index: 999;
  position: absolute;
  top: 7.5%;
  left: 1%;
  min-width: 280px;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgb(149 157 165 / 60%) 0px 10px 24px;
  overflow-y: scroll;
  height: 200px;
  padding: 10px;
}
.search-results-container::-webkit-scrollbar {
  display: none;
}

.right-side {
  width: 70%;
}

@media screen and (max-width: 900px) {
  .search-results-container {
    top: 60%;
  }
  .chat{ 
    height: 100%;
    flex-direction: column-reverse;
  }
  .left-side{ 
    height: 50%;
  }
  .left-side, .right-side{ 
    width: 100%;
  }
}