.comments-content{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
    overflow-y: auto;
    width: 100%;
    overflow-x: hidden;
    height: 300px;
    background-color: white;
    border-radius: 20px;
}
.comments-content::-webkit-scrollbar {
    display: none;
  }
.comments-content h3{
 margin-top: 2%;
}
.comments-content h3,.write-comment-div h3{
    margin-left: 3%;
    margin-right: 2%;
    border-bottom: 1px dashed rgb(232, 232, 232);
    border-radius: 15px;
    padding: 5px;
}
.user-comment{
    font-size: 1.1rem;
    margin-right: 2px;
    font-weight: bolder;
       font-family: 'PT Sans', sans-serif;
    
}
.comment-and-user-container{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    border-bottom: 1px dashed rgb(232, 232, 232);
    padding: 5px;
    border-radius: 10px;
    
    width: 90%;
}
.comments-content h4{
    color: darkgrey;
   
}

.comment-text-container{
    display: flex;
    flex-wrap: wrap;
    word-break: break-word;
    margin: 3px;
}
.write-comment-div{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
    margin-top: 2%;
    background-color: white;
    border-radius: 20px;
}
.write-comment-div textarea{
    margin-left: 3%;
    width: 92%;
    height: 100px;
    resize: none;
    transition: 300ms ease-in-out;
    border: none !important;
}

.write-comment-div textarea:hover{ 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
    border: none !important;
}

.write-comment-div button{
    margin-left: 3%;
    margin-bottom: 2%;
    border: none;
    padding: 5px 8px 5px 8px;
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
    border-radius: 20px;
    transition: .4s ease-in-out;
    color: rgb(72, 136, 115);
    font-weight: bolder;
    background-color: aquamarine;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 3px 4px;
}
.write-comment-div button:hover{
    box-shadow: none;
}

.no-comments-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: .5;

}
.comment-photo{
    width: 300px;

}

@media screen and (max-width: 1000px) {
    .write-comment-div button{
        width: 98%;
        margin-left: 5px;
    }
    .write-comment-div button:hover{
        background-color: aquamarine;
        font-weight: bolder;
        box-shadow: none;
        color: rgb(72, 136, 115);
    }
}