.card{
    min-height: 200px;
    width: 100%;
    position: relative;
    margin: 5px;    
    border-radius: 15px;
    border: #e3d5ca 2px solid;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 300ms ease-in-out;
}
.card:hover{
    box-shadow: none;
}
.name-size{
    display: flex;
    padding: 5px;
    flex-direction: row;
    height: 25px;
    margin: 5px 0 5px 0;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.more{ 
    z-index: 999;
}
.more-icon{
    color: rgb(130, 130, 130);
    border: 1px solid rgb(94, 94, 94);
    background: white;
    padding: 3px;
    border-radius: 50%;
}

.thumbs-up{
    background-color: transparent;
    border: none;
}
.thumbsUp:active {
    font-size: 20px;
    transition: .3s ease-in ease-in-out;
}

.posts-body{
    align-items: stretch;
}

.buttons-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.thumbs-up-div{
    display: flex;
    align-items: center;
}
.title-date{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 6px ;
    min-height: 35px;
}
.tag-div{
    display: flex;
    flex-direction: row;
        
}
.tag{
    border: 1px solid lighgray;
    background-color: lightgray;
    border-radius: 15px;
    color: black;
    font-weight: 800;
    padding: 4px 8px ;
    margin: 2px;
}
.username-div {
    display: flex;
    align-items: center;
    flex-direction: row;
    min-width: 100px;
}

.username{
    font-size: 1.5rem;
}
.size{
    font-size: 1.2rem;
}
img{
    width: 100%;
    height: 180px;
}
.time{
    font-size: 1rem;
    color: rgb(130, 130, 130)
}
.more {
    z-index: 999;
    position: absolute;
    background: transparent;
    color: white;
    border: none;
    top: 13%;
    left: 80%;
}

.select{
    border: blue solid ;
    width: 25%;
    position: absolute;
    top: 23%;
    left: 67%;
    display: none;
    
}
p,.tag-div, .username, h2{
    margin-left: 3%;
    text-align: left;
}
.heart{
    color: rgb(236, 25, 25);
}
.hearts-outline{
    color: rgb(59, 59, 59) !important;
}
button.thumbs-up {
    display: flex;
    align-items: center;
}
.delete-icon-container{
    background: transparent;
    border: none;
    color: rgb(130, 130, 130);
}
.smalldog, .mediumdog, .largedog{
    color: rgb(130, 130, 130);
}
.smalldog{
    height: 27px;
    width: 27px;
}
.mediumdog{
   height: 45px;
   width: 45px;
}
.largedog{
    height: 60px;
    width: 60px;
}
@media screen and (max-width:1600px){
    .card{
        min-width: 300px
    }
}

@media screen and (max-width: 900px){
    .card {
        width: 100%;
    }
}
@media screen and (max-width: 760px){

    .card{
        width: 100%;
    }
}