.header-container{
    width: 100%;
}

header{
    width: 100%;
    height: 10%;
border-bottom: 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
   border-bottom: .019rem solid rgb(231, 231, 231) ;
}
.logo-div{
width: 200px;
height: 50px;
padding: 10px;
background-image: url('../../../src/assets/images/home-logo.png');
background-repeat: cover;
background-size: 100%;
background-repeat: no-repeat;
}

.login-div {
    display: flex;
    align-items: center;
}
.login-div h4{
    font-size: 1.3rem;
    font-weight: 900;
}
img.avatar {
    height: 30px;
    width: 30px;
    margin-right: 3px;
}
.logout-btn, .signin-btn {
    margin-left: 15px;
    border: .5px solid lightgray;
    font-size: 1.1rem;
    padding: 7px 10px 7px 10px;
    border-radius: 20px;
    transition: 300ms;
}

.signin-btn-link{
    color: black;

    font-size: 1.1rem;
    text-decoration: none;
    border-radius: 15px;
}
.logout-btn:hover, .signin-btn:hover {
    border: 1px solid black;
}


@media screen and (max-width: 1000px){
    .header-container{
        width: 100%;
    }
    
}